{% extends 'main/base.html' %} {% block style %}

<style>
  .profile-img {
    width: 7vw;
    height: 14vh;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
  }
  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .profile {
    border: 1px solid hsla(0, 0%, 53%, 0.07);
  }
  .profile-username {
    /* margin-top: -5vw; */
    padding: 0 3px;
    display: inline-block;
  }
  .profile-username h4 {
    display: inline;
  }
  .profile-data {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    border: 1px solid hsla(0, 0%, 53%, 0.07);
  }

  .prof-dt {
    text-align: center;
    padding: 0 9.5%;
  }

  .prof-dt:hover {
    background-color: hsla(0, 0%, 53%, 0.07);
    cursor: pointer;
  }

  .profile-d2 {
    display: flex;
    justify-content: space-between;
  }
  .follow-button {
    padding: 48px 60px;
  }

  #editButton {
    width: 2vw;
    height: 4vh;
    background-color: #1f1f20;
    border: none;
  }
  .fas {
    /* color: #e90ccb; */
    color: white;
  }
  .active2 {
    background-color: hsla(0, 0%, 53%, 0.07);
  }
</style>
{% endblock %} {% block content %}
<div class="col-9 group-con">
  <div class="profile">
    <h3>Profile</h3>
  </div>
  <div class="profile-d2">
    <div class="profile-img">
      <img
        src="{{user.profile.profile_img.url}}"
        alt=""
        style="width: 50px; height: 50px; border-radius: 50%"
      />
    </div>
    {% if user != request.user %}
    <div class="follow-button">
      <a href="#" class="btn signbtn me-4">Follow</a>
    </div>
    {% endif %}
  </div>
  <div class="profile-username">
    <h4>{{user.username}}</h4>
    {% if user == request.user %}
    <button id="editButton">
      <i class="fas fa-edit"></i>
    </button>
    {% endif %}
    <p>{{bio}}</p>
  </div>

  <div class="profile-data">
    <div class="post-count prof-dt" onclick="toggleActive(this,name='posts')">
      <h5>{{trendingmessagescount}}</h5>
      <p>Post</p>
    </div>
    <div class="following prof-dt" onclick="toggleActive(this,name='followingNames')">
      <h5>{{following_count}}</h5>
      <p>Following</p>
    </div>
    <div class="follower prof-dt" onclick="toggleActive(this)">
      <h5>{{follow_count}}</h5>
      <p>Followers</p>
    </div>
    <div class="post-view prof-dt" onclick="toggleActive(this)">
      <h5>{{total_viewcount}}</h5>
      <p>Views</p>
    </div>
  </div>

  <div class="posts" style="display: none;">
    {% for post in posts %}
    <p>{{post.user.username}}</p>
    <p>{{post.content}}</p>
    {% endfor %}
  </div>

  <div class="followingNames">
    {% for following in followingUsers %}
    <p>{{following}}</p>
    {% endfor %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
<script
  src="https://kit.fontawesome.com/76b0e8fe7d.js"
  crossorigin="anonymous"
></script>
{{ request.user.username|json_script:"json-username"}}
<script>

let activeDiv = null;
let previousName=null;

function toggleActive(clickedDiv,name) {
    if (activeDiv !== null) {
        activeDiv.classList.remove('active2');
    }

    clickedDiv.classList.add('active2');
    activeDiv = clickedDiv;

}

    // Note: Ensure that the element with ID "checkbox-i" exists in your base.html
    document
      .getElementById("checkbox-i")
      .addEventListener("change", function () {
        var sidebar = document.getElementById("sidebar");
        if (this.checked) {
          sidebar.classList.add("sidebar-visible");
        } else {
          sidebar.classList.remove("sidebar-visible");
        }
      });
</script>

{% endblock %}
