{% extends 'main/base.html' %}

{% block content %}

<!--Msgbox-->
<div class="col-6 content-1b content-scroll">
  <div class="msgbox">
    <form>
      <div class="msgbox-input">
        <div class="msgbox-img ">
          <img src="{{user.profile.profile_img.url}}" alt="">
        </div>
        <input id="data1" type="text" placeholder="Write fearlessly..." value="{{hashtag}}">
      </div>
      <div class="msg-con row">

        <button type="button" id="uploadButton" class="msgbox-btn2 col-2 align-self-center"><i class="fa-solid fa-image"
            onclick="uploadImage()"></i></button>
        <button class="msgbox-btn2 col-2 align-self-center"><i class="fa-solid fa-list"></i></button>
        <button class="msgbox-btn2 col-2 align-self-center" id="emoji-button"><i class="fa-solid fa-face-smile"></i></button>
        <button class="msgbox-btn btn align-self-center" id="post-msg">Post</button>
      </div>
      <!-- Create a hidden file input for image upload -->
      <input type="file" id="imageInput" accept="image/*" style="display: none;">
      <emoji-picker id="emoji-picker"></emoji-picker>

      <!-- sd -->
      {% for m in messages %}
      <div id="message-output" class="msg-output-main row">
        <div class="msgbox-trendings">
          <span><i class="fa-solid fa-arrow-trend-up"></i>Trending</span>
        </div>
        <div class="msg-output">
          <div class="msg-output-img">
            <img src="{{m.user.profile.profile_img.url}}" alt="Profile Picture" id="profile-img" data-img-id="{{m.user.username}}">
          </div>
          <div class="msg-output-details">
            <h5>{{m.user.username}}</h5>
            <p>{{m.decrypt_message}}</p>
            {% if m.image %}
            <img src="{{m.image.url}}" alt="">
            {% endif %}
          </div>
        </div>
        <div class="msg-output-icons">
          <i class="far fa-comment" id="comment" data-message-id="{{m.pk}}"></i>
          <i class="fa-solid fa-reply"></i>
          <i class="far fa-thumbs-up" id="likes" data-likes-id="{{m.pk}}">{{m.likes}}</i>
          <i class="fa-regular fa-eye" id="views" data-views-id="{{m.pk}}">{{m.view_count}}</i>
        </div>
      </div>
      {% endfor %}

      <!-- endd -->

    </form>
  </div>
  <!-- search box -->
</div>
<div class="col-3 content-1a">
  <div class="search-container">
    <input type="text" name="search-input" class="search-input" id="search-input" placeholder="Search here...">
    <i class="fas fa-search search-icon" id="search-icon"></i>
  </div>

  <div class="trending">
    <h4 class="trending-heading">Trending on PseudoSpeak</h4>
    <div class="trending-topics">
      {% for tag in hashtags %}
      <div class="t1">
        <span><i class="fa-solid fa-arrow-trend-up"></i></span>
        <input type="hidden" name="tag" value="{{ tag.tag }}">
        <a href="#" class="trends" style="cursor: pointer;" data-tag="{{tag.tag}}">{{ tag.tag}}</a>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/76b0e8fe7d.js" crossorigin="anonymous"></script>

{{ request.user.username|json_script:"json-username"}}
<script>

  // This is correct
  const socket = new WebSocket('ws://' + window.location.host + '/ws/');

  let check = false; // Define check at the top level so it's accessible everywhere

  function uploadImage() {
    document.getElementById('imageInput').click();
  }

  function handleFile(event) {
    const file = event.target.files[0];
    console.log(file.Array)
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        console.log(img.src);
        check = true; // Set check to true when a file is loaded
      }
      reader.readAsDataURL(file);
    }
  }

  document.getElementById('imageInput').addEventListener('change', handleFile);

  socket.onopen = function () {
    console.log('WebSocket URL:', 'ws://' + window.location.host + '/ws/');
    console.log("WebSocket connection established.");

    const username = JSON.parse(document.getElementById("json-username").textContent);
    const post = document.querySelector('#post-msg');
    post.onclick = function (e) {
      e.preventDefault();
      const data = document.querySelector('#data1');
      const inputdata = data.value;

      if (inputdata.trim() !== "") {
        if (check) {
          // Get the file from the file input
          const file = document.getElementById('imageInput').files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              const imgBase64 = e.target.result;

              // Send the image and the inputdata together
              socket.send(JSON.stringify({
                'content': inputdata,
                'username': username,
                'image': imgBase64
              }));

              // Clear the input field and image container
              data.value = "";
              check = false; // Reset check to false after sending the image
            }
            reader.readAsDataURL(file);
          }
        } else {
          // If there is no image, send only the inputdata
          socket.send(JSON.stringify({
            'content': inputdata,
            'username': username,
            'image': null
          }));

          // Clear the input field
          data.value = "";
        }
      }
    };
  };

  socket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const targetId = data['likeId'];  // Replace with your target id
    const newLikesCount = data['likes'];
    console.log(data['content']);
    console.log(data['username']);
    console.log(data['profile_img']);
    console.log(data['image']);
    console.log(data['likeId']);
    console.log(data['likes']);
    console.log(data['views']);
    console.log(data['contentId']);
    if (Array.isArray(data['hashtags'])) {
      const trending = document.querySelector('.trending-topics');
      trending.innerHTML = "";
      data['hashtags'].forEach(function (item) {
        console.log(item);
        trending.innerHTML += `
            <span><i class="fa-solid fa-arrow-trend-up"></i></span>
            <a class="trends" style="font-weight: bold; text-decoration: none; color: rgb(29, 155, 240);" onmouseover="hover(this)" onmouseout="unhover(this)" data-tag="${item}">${item}</a><br>`; //checking hashtags
      });
    }

    // Create an HTML template string for the new message
    const template = `
        <div class="msg-output-main row">
            <div class="msgbox-trendings">
                <span><i class="fa-solid fa-arrow-trend-up"></i>Trending</span>
            </div>
            <div class="msg-output">
                <div class="msg-output-img">
                  <img src="${data.profile_img}" alt="Profile Picture" id="profile-img" data-img-id="${data.username}">
                </div>
                <div class="msg-output-details">
                    <h5>${data.username}</h5>
                    <p>${data.content}</p>
                    ${data.image ? `<img src="${data.image}" style="width:250px;height:250px">` : ''}
                </div>
            </div>
            <div class="msg-output-icons">
                <i class="far fa-comment" id="comment" data-message-id="${data.contentId}"></i>
                <i class="fa-solid fa-reply"></i>
                <i class="far fa-thumbs-up" id="likes" data-likes-id="${data.contentId}"></i>
                <i class="fa-regular fa-eye" id="views" data-views-id="${data.contentId}"></i>
            </div>
        </div><br>
    `;

    // Get the message container and insert the new message at the beginning
    if (data['content']) {
      const msgOutputMain = document.querySelector('.msg-output-main');
      msgOutputMain.insertAdjacentHTML('afterbegin', template);

      const newMessage = msgOutputMain.children[0];

      // Find the hashtags within the new message and update their HTML
      const newMessageHashtags = newMessage.querySelectorAll('.msg-output-details p');
      newMessageHashtags.forEach((hashtag) => {
        hashtag.innerHTML = hashtag.innerText.replace(/#\w+/g, (match) => `<a data-tag=${match} class="hashtag" style="color: rgb(29, 155, 240); text-decoration:none;" onmouseover="hover(this)" onmouseout="unhover(this)">${match}</a>`);
      });
    }

    if (data['likeId']) {
      const likeId = data['likeId'];
      const likesIcon = document.querySelector(`[data-likes-id="${likeId}"]`);
      if (likesIcon) {
        console.log("Updating likes for message:", likeId, "new count:", data['likes']);
        likesIcon.innerHTML = data['likes'];
      } else {
        console.error("No element found with id likes and data-likes-id:", likeId);
      }
    }


    const msgId = data['msgId'];
    const viewsCount = data['views'];
    if (data['msgId'] && data['views'] !== undefined) {
      // Find all existing view count elements with the correct data-views-id attribute
      const viewsElement = document.querySelector(`[data-views-id="${msgId}"]`);

      viewsElement.innerHTML = viewsCount;

    }

  };

  socket.onclose = function (e) {
    console.log("WebSocket connection closed.");
  };

  function scrollToTop() {
    let objDiv = document.querySelector(".msgbox");
    objDiv.scrollTop = objDiv.scrollBottom;
  }

    document.body.addEventListener('click', function (e) {
    if (e.target && e.target.id == 'comment') {
      const messageID = e.target.getAttribute('data-message-id');
      const userName = JSON.parse(document.getElementById('json-username').textContent);
      console.log(messageID);
      socket.send(JSON.stringify({
        'msgId': messageID,
        'username': userName
      }));
      const redirectURL = `/message/${messageID}/`;
      window.location.href = redirectURL;
    }
  });



  // search bar
  document.getElementById("search-input").addEventListener("keydown", function (event) {
    if (event.key === "Enter") {
      event.preventDefault();
      const searchTxt = document.getElementById("search-input").value;
      if (searchTxt) {
        console.log(searchTxt);
        socket.send(JSON.stringify({
          'hashtag': searchTxt,
        }));
      }
    }
  });


  // message likes
  document.body.addEventListener('click', function (e) {
    if (e.target && e.target.id == 'likes') {
      const messageID = e.target.getAttribute('data-likes-id');
      const userName = JSON.parse(document.getElementById('json-username').textContent);
      console.log(messageID);

      socket.send(JSON.stringify({
        'likeId': messageID,
        'username': userName
      }));
    }
  });


  // dashboard

  document.querySelector('#profile_img_navbar').onclick = function () {
    const userName=JSON.parse(document.getElementById('json-username').textContent);
    var redirectURL = '/dashboard/' + userName + '/';
    window.location.href = redirecturl;
  }

  document.body.addEventListener('click', function(e) {
    if (e.target && e.target.id == 'profile-img') {
        const profileId = e.target.getAttribute('data-img-id');
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        var redirectURL = '/dashboard/' + profileId + '/';
        window.location.href = redirectURL;
    }
});


  // onhover function
  function hover(element) {
    element.style.cursor = 'pointer';
    element.style.textDecoration = 'underline';
  }

  function unhover(element) {
    element.style.textDecoration = 'none';
  }

  // displaying hashtags in diff color

  document.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOMContentLoaded event fired');
    const messages = document.querySelectorAll('.msg-output-details p');
    messages.forEach((message) => {
      message.innerHTML = message.innerText.replace(/#\w+/g, (match) => `<a data-tag=${match} class="hashtag" style="color: rgb(29, 155, 240); text-decoration:none;" onmouseover="hover(this)" onmouseout="unhover(this)">${match}</a>`);
    });
  });

  // Delegate the event to the document body
  document.body.addEventListener('click', function (e) {
    // Check if the clicked element has the class 'trends' or 'hashtag'
    if (e.target && (e.target.classList.contains('trends') || e.target.classList.contains('hashtag'))) {
        var tag = e.target.getAttribute('data-tag');
        tag = tag.replace('#', ''); // Remove '#' if present
        console.log(tag);
        var redirectURL = '/view_hashtag/message/' + tag + '/';
        window.location.href = redirectURL;
    }
});



// emoji picker
const inputField = document.getElementById('data1');
const emojiButton = document.getElementById('emoji-button');
const emojiPicker = document.getElementById('emoji-picker');

emojiButton.addEventListener('click', () => {
  event.preventDefault(); 
  emojiPicker.style.display = 'block';
});

emojiPicker.addEventListener('emoji-click', (event) => {
  const { emoji } = event.detail;
  inputField.value += emoji;
  emojiPicker.style.display = 'none';
});

document.addEventListener('click', (event) => {
  if (!event.target.closest('#emoji-button') && !event.target.closest('#emoji-picker')) {
    emojiPicker.style.display = 'none';
  }
});



</script>
{% endblock %}